NODE_ENV=

# Database credentials
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=
POSTGRES_HOST=

# App-specific
DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
API_PORT=
CLERK_WEBHOOK_SIGNING_SECRET=
GITHUB_STATE_SECRET=
GITHUB_CLIENT_SECRET=
WEB_APP_BASE_URL=
